.community-chat {
  margin: 2rem 0;
  width: 97%;
  padding: 1rem;
  margin: auto;
  background: linear-gradient(to right, #686767, #383737);
  border-radius: 10px;
}

.community-chat h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ff5d73;
  font-weight: 700;
}

.community-chat textarea,
input {
  width: 95%;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  margin: auto;
  font-size: 14px;
  background-color: #276469;
  outline: none;
  resize: none;
  box-sizing: border-box;
  height: 350px;
}

.community-chat input {
  height: auto;
  background-color: #343434;
  border: 3px solid white;
  margin-top: 5px;
}
